.articleNews {
    grid-area: article;
    height: 350px;
    border: 2px yellow solid;
    background: linear-gradient(blue, #ff3694);
}

.data_text {
    width: 50%;
    box-sizing: border-box;
    padding-left: 40px;
    position: relative;
    top: -30px;
    display: inline-block;
}

.data_input {
    box-sizing: border-box;
    width: 50%;
    display: inline-block;
}

input {
    border-radius: 5px;
}
