body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 800px;
    font: 20px 'Fjalla One', sans-serif;
    text-decoration: none;
}

.grid_wrapper  {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 'header header' 'nav article' 'footer footer';
    grid-template-rows: 50px 600px 150px;
    grid-template-columns: 1fr 11fr;
    grid-gap: 10px;

}






